*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
form{
    margin: 25px;
}

table { 
    width: 100%;
    
    border-collapse: collapse; 
  }
  tr:nth-of-type(odd) { 
    background: #eee; 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  td, th { 
    padding: 7px; 
    border: 1px solid #ccc; 
    text-align: left; 
    cursor: pointer;
  }

  table th {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    z-index: 1; 
}